body {
   background-color:transparent !important;
}

h2 {
   text-align: center;
}

.jumbotron {
   width: 100%;
   background-color: rgb(248, 249, 250) !important;
   padding-top: 10%;
  
}

.card {
    
      float:left;  
      padding: 0%;
      height:200px; 
   
}

 #search {
    position: fixed; 
    background: rgb(248, 249, 250);
    height: 500px;
 }

 #right {
   position: relative;
   float: right;
   background: rgb(248, 249, 250);
   width: 70%;
   height: 500px;
   
 }

 #searchBtn {
    width: 10%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 20px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
