h2 {
   text-align: center;
}

.topnav-centered a {
   float: none;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.jumbotron {
   width: 100%;
  
}

 #search {
    position: fixed; 
    background: rgb(248, 249, 250);
    height: 500px;
 }

 #right {
   position: relative;
   float: right;
   background: rgb(248, 249, 250);
   width: 70%;
   height: 500px;
   
 }

 #searchBtn {
    width: 4%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 20px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
