

.jumbotron {
    float: right;
    position: relative;
}
  

 .container1 {
    position: fixed;
   
 }

 #searchBtn {
    width: 5%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 20px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
